<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PetShop - Presupuesto</title>
  <link rel="stylesheet" href="../css/styles.css">
  <script defer src="../js/script.js" ></script>
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">🐾PetShop🐾</div>
      <ul class="nav-links">
        <li><a href="../index.html" >Inicio</a></li>
        <li><a href="./producto.html">Producto</a></li>
        <li><a href="./presupuesto.html" class="active">Presupuesto</a></li>
        <li><a href="./contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Solicitar Presupuesto</h1>
    <p>Por favor, complete el siguiente formulario para solicitar un presupuesto personalizado. Nos pondremos en contacto con usted a la brevedad.</p>
    <form  id="form-presupuesto" class="formulario">

      <label for="nombre"> Nombre:
        <input type="text" id="nombre" name="nombre" placeholder="Escribe tu nombre" pattern="[A-Za-z]{2,}" title="Solo letras y espacios, minimo 4 caracteres" required>
      </label>

      <label for="email">Email:
        <input type="email" id="email" name="email" placeholder="Escribe tu email" pattern="[a-zA-Z0-9_-.]+@[a-z0-9_-]+\[a-z]{2,4}" title="Escriba su correo electronico" required>
      </label>

      <label for="phone">Teléfono:
        <input type="tel" id="phone" name="phone" placeholder="Escribe tu teléfono" pattern="[0-9]{9}" title="Debe contener 9 dígitos" required>
      </label>

      <label for="information">Solicite más información:
        <textarea id="information" name="information" minlength="10" maxlength="500" placeholder="Escribe aquí tu consulta" required></textarea>
      </label>

      <label for="checkbox" class="checkbox">
        <input type="checkbox" id="checkbox" name="checkbox" required>
        Acepto la <a href="#">Política de privacidad</a>
      </label>

      <button type="submit">Enviar</button>
      <button type="reset">Borrar</button>

    </form>
  </main>
  <footer>
    <div class="footer-social">
      <a href="https://facebook.com"><img src="../assets/images/facebook.png" alt="Facebook" class="icon-social"></a>
      <a href="https://instagram.com"><img src="../assets/images/instagram.png" alt="Instagram" class="icon-social"></a>
      <a href="https://twitter.com"><img src="../assets/images/twitter.png" alt="Twitter" class="icon-social"></a>
    </div>
    <div class="footer-info">
      Ronda dels Paiisos Catalans, 50, 08304 Mataró, Barcelona, España<br>
      <a href="#">Aviso Legal</a>
    </div>
  </footer>
</body>
</html>