<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PetShop - Producto</title>
  <link rel="stylesheet" href="../css/styles.css">
  <script defer src="../js/script.js" ></script>
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="logo">🐾PetShop🐾</div>
      <ul class="nav-links">
        <li><a href="../index.html" >Inicio</a></li>
        <li><a href="./producto.html" class="active">Producto</a></li>
        <li><a href="./presupuesto.html">Presupuesto</a></li>
        <li><a href="./contacto.html">Contacto</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Galeria de Productos</h1>
    <div class="grid-productos">
      <div class="producto">
        <img src="../assets/images/pienso_perros_orijen_original_back_ORJOA13_ind.jpg" alt="Alimento para perros" width="780" height="780">
        <div class="description">
          <h3>Croquetas para Perros</h3>
          <p>El pienso Orijen Original para Perros ofrece una nutrición completa con ingredientes 100% naturales y sin cereales, asegurando una digestión saludable.</p>
          <img src="../assets/images/down-arrow.png" alt="down arrow" class="arrow" width="128" height="128">
        </div>
      </div>
      <div class="producto">
        <img src="../assets/images/pienso_humedo_perros_edgard_cooper_puppy_pato_pollo_EDG1579_M.jpg" alt="Alimento para perros" width="780" height="780">
        <div class="description">
          <h3>Comida Humeda Perros</h3>
          <p>Comida húmeda natural para cachorros elaborada con carne fresca y un excelente sabor a pato y pollo.</p>
          <img src="../assets/images/down-arrow.png" alt="down arrow" class="arrow" width="128" height="128" >
        </div>
      </div>
      <div class="producto">
        <img src="../assets/images/perro_peluche_pato_summervibes_SMV43215_M_1.jpg" alt="Juguetes para perros" width="780" height="780">
        <div class="description">
          <h3>Juguetes de Perros</h3>
          <p>Anima cada aventura acuática con tu perro con el pato mordedor de Summer Vibes, un juguete flotante que encanta por su diseño colorido y su robustez.</p>
          <img src="../assets/images/down-arrow.png" alt="down arrow" class="arrow" width="128" height="128">
        </div>
      </div>
      <div class="producto">
        <img src="../assets/images/cama_perros.jpg" alt="Cama para perros" width="780" height="780">
        <div class="description">
          <h3>Cama para Perros</h3>
          <p>Leeby Better cuna azul marino para perros, con bordes elevados. Es desenfundable, anti manchas y anti arañazos. La funda se puede lavar a máquina.</p>
          <img src="../assets/images/down-arrow.png" alt="down arrow" class="arrow" width="128" height="128">
        </div>
      </div>
      <div class="producto">
        <img src="../assets/images/pienso_gatos_nath_adult_sterilised_2kg_NTH88594_ind.jpg" alt="Alimentos para gatos" width="780" height="780">
        <div class="description">
          <h3>Croquetas para Gatos</h3>
          <p>Pienso para gatos adultos esterilizados. Este alimento con carne de pollo fresca, ayuda a cuidar el tracto urinario y a controlar el peso del animal.</p>
          <img src="../assets/images/down-arrow.png" alt="down arrow" class="arrow" width="128" height="128">
        </div>
      </div>
      <div class="producto">
        <img src="../assets/images/nuevo_comida_humeda_gatos_gourmet_gold_mousse_multipack_carnes_GOU12364892_M.jpg" alt="Alimento para gatos" width="780" height="780">
        <div class="description">
          <h3>Comida Humeda Gatos</h3>
          <p>Pack de latas para gatos adultos con textura mousse de diferentes sabores: ternera, buey, conejo y cordero.</p>
          <img src="../assets/images/down-arrow.png" alt="down arrow" class="arrow" width="128" height="128">
        </div>
      </div>
      <div class="producto">
        <img src="../assets/images/accesorios_juguetes_gato_flamingo_dita_FLA560769.jpg" alt="Juguete para gatos" width="780" height="780">
        <div class="description">
          <h3>Juguetes para Gatos</h3>
          <p>Juguete para gatos de todas las razas y edades, es electrónico, estimula la inteligencia, funciona con baterías, incluye dos bolas en su interior.</p>
          <img src="../assets/images/down-arrow.png" alt="down arrow" class="arrow" width="128" height="128">
        </div>
      </div>
      <div class="producto">
        <img src="../assets/images/cama_gatos.jpg" alt="Cama para gatos" width="780" height="780">
        <div class="description">
            <h3>Cama para Gatos</h3>
            <p>Leeby Good cama cueva para gatos con forma de cubo y estampado de cómics, tiene un cojín reversible, también funciona como cuna y es fácil de limpiar.</p>
            <img src="../assets/images/down-arrow.png" alt="down arrow" class="arrow" width="128" height="128">
        </div>
      </div>
    </div>
  </main>
  <footer>
    <div class="footer-social">
      <a href="https://facebook.com"><img src="../assets/images/facebook.png" alt="Facebook" class="icon-social" width="32" height="32"></a>
      <a href="https://instagram.com"><img src="../assets/images/instagram.png" alt="Instagram" class="icon-social" width="32" height="32"></a>
      <a href="https://twitter.com"><img src="../assets/images/twitter.png" alt="Twitter" class="icon-social" width="32" height="32"></a>
    </div>
    <div class="footer-info">
      Ronda dels Paiisos Catalans, 50, 08304 Mataró, Barcelona, España<br>
      <a href="#">Aviso Legal</a>
    </div>
  </footer>
</body>
</html>